<h1>Signup</h1>

<form action="/auth/signup" method="POST">
<label>
    Username:
    <input name="username" required>
</label>
<label>
    E-Mail:
    <input name="email" type="email" required>
</label>
<label>
    Password:
    <input name="password" type="password" required>
</label>

<button type="submit">SignUp</button>

</form>