<div class="main">
<h1>Main</h1>
    <a href="./private">GO PRIVATE</a>
</div>
<img class="round" src="https://images.pexels.com/photos/16900719/pexels-photo-16900719/free-photo-of-tier-haustier-sitzung-katzchen.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">